body {
    background-color: aqua;
}
div {
    margin-top: 20px;
}
h3 {
    color: #88ff22;
}
h1  {
    font-size: 40px;
}
#details{
    color: rgb(0, 0, 250);
}
#Synopsis{
    color: rgb(0, 0, 250);
}
.hobbies{
    color: rgb(0, 0, 250);
}

